
$white: #FFFFFF;
$space-gray-lv1: #C0C5CE;
$space-gray-lv2: #A7ADBA;
$space-gray-lv3: #65737E;
$space-gray-lv4: #4f5b66;
$space-gray-lv5: #343d46;

$font-size-lv1: 1.2em;
$font-size-lv2: 1.4em;
$font-size-lv3: 1.6em;
$font-size-lv4: 1.8em;
$font-size-lv5: 2em;

$fonts-family: 'Nunito', sans-serif;

$box-shadow: 0 0 5px 5px $space-gray-lv2;