@import '../../scss/variable.scss';

.home-container {
  position: relative;

  .top-bar > .brand-logo {
    text-align: center;
    img {
      display: inline-block;
      border-radius: 50%;
    }
  }

  .top-bar > .nav-menu {
    display: flex;
    justify-content: center;
    .nav-menu-item {
      font-weight: 700;
      font-size: $font-size-lv2;
      margin: 45px 25px 0 25px;
      span {
        cursor: pointer;
        &:hover {
          color: $space-gray-lv3;
          border-bottom: 2px solid $space-gray-lv3;
        }
      }
    }
  }

  .flex-content {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    .flex-box {
      max-width: 500px;
      text-align: center;
      img {
        width: 150px;
        display: inline-block; 
      }
      p {
        text-align: justify;
      }
    }
  }

}